doctype html
html(lang="en")
    head
        include ../seo

        //- Import google fonts
        link(rel="preconnect", href="https://fonts.googleapis.com")
        link(rel="preconnect", href="https://fonts.gstatic.com" crossorigin)
        link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap")

        //- Import library
        link(rel="stylesheet", href="./assets/css/vendor/ravicon.min.css")
        link(rel="stylesheet", href="./assets/css/vendor/animate.min.css")

        //- Import theme style
        link(rel="stylesheet", href="./assets/css/theme.min.css")

        include ../../data
        include ../../mixin