mixin testimonial-slider 
    .swiper.testimonial-slider&attributes(attributes)
        .swiper-wrapper 
            .swiper-slider
                .testimonial-info 
                    h5 Afandi 
                    span Owner, Peterdraw
                    p 
        .swiper-pagination 