include ../common/header/header-files

body#homepage-page
    include ../common/header/navbar

    section.section.bg-primary-soft#section-header
        .hero-shape
            +shape-image(shapeSVG.circle.one)(class="shape-image-one animate__animated animate__upDown")
            +shape-image(shapeSVG.circle.one)(class="shape-image-two animate__animated animate__upDown animate__delay-1s")
            +shape-image(shapeSVG.dotGroup.one)(class="shape-image-three animate__animated animate__upDown animate__delay-2s")
            +shape-image(shapeSVG.circle.one)(class="shape-image-four animate__animated animate__upDown animate__delay-2s")
            +shape-image(shapeSVG.circle.one)(class="shape-image-five animate__animated animate__upDown animate__delay-1s")
            +shape-image(shapeSVG.dotGroup.one)(class="shape-image-six animate__animated animate__upDown animate__delay-4s")
            +shape-image(shapeSVG.line.one)(class="shape-image-seven")
        .container.d-flex.flex-column
            .heading.d-flex.flex-column.mx-auto.text-center
                h5.mb-3
                    span.fw-normal Hi, i'am 
                    =pageDefault.name
                h1.mb-0
                    span.fw-normal An 
                    | Wordpress 
                    span.fw-normal and 
                    | Front End Developer
            a(href=emailLink).btn.btn-white.btn-lg.mt-5.mx-auto.rounded.shadow
                | Hire Me 
                i.ri.ri-arrow-right-long.fs-3.ms-2

    section.section.section-gap#section-about-us
        .container 
            .row
                .col-12.col-md-5.col-lg-4
                    h5.sub-heading.mb-2
                        span About 
                        | Us
                    h2.heading.mb-0 Get to know me 
                        span.heading-line further.
                .col-12.col-md-7.col-lg-8.mt-3.mt-md-0
                    each data in content
                        each about in data.aboutUs
                            p=about.p
                    .d-flex.align-items-center.mt-3
                        a.btn.btn-lg.btn-primary-soft(href=cvLink)
                            i.ri.ri-download.fs-3.me-1
                            | Download Cv
                        +social-nav(class="ms-3")

    section.section.section-gap#section-skill 
        .container.d-flex.flex-column.align-items-center
            h2.heading.mb-0
                span.fw-normal My 
                span.heading-line Skills.
            +counter-skill(class="mt-3")

    section.section.section-gap#section-project 
        .container
            .d-flex.flex-column.align-items-center
                h5.sub-heading.mb-2
                    span Complete 
                    | Project
                h2.heading.mb-0 Our best 
                    span.heading-line work.
            +project-list-grid(class="mt-3")
            //- .d-flex
            //-     .btn.btn-lg.btn-primary-soft.mt-5.mx-auto
            //-         | View More

    section.section.section-gap
        .container 
            .bg-primary-soft.px-3.py-2.py-md-4.rounded
                .row.d-flex.align-items-center
                    .col-md-6
                        h4.mb-0.text-center.text-md-start Interested in working with me?
                    .col-md-6.d-flex.justify-content-center.justify-content-md-end
                        a.btn.btn-primary.text-primary-soft.btn-lg.mt-3.mt-md-0(href=emailLink) Email Me

    section.section.section-gap#section-why-me 
        .container
            .row
                .order-2.order-lg-1.col-12.col-lg-6.col-xl-8.mt-3.mt-lg-0
                    +whyMe-grid
                .order-1.order-lg-2.col-12.col-lg-6.col-xl-4
                    h5.sub-heading.mb-2
                        span Why 
                        | Me?
                    h2.heading.mb-0 Still doubting  
                        span.heading-line me?

    include ../common/footer/footer

include ../common/footer/footer-files