//- Get json by id
- function filterById(jsonObject, id) {return jsonObject.filter(function(jsonObject) {return (jsonObject['id'] == id);})[0];}

- var projectDataId = filterById(projectData, projectId);