mixin btn-bars
    button.btn-bars(type="button")&attributes(attributes)
        span
        span
        span

mixin btn-close
    button.btn-close(type="button")&attributes(attributes)
        span
        span