mixin btn-bars
    button.btn-bars(type="button")&attributes(attributes)
        span
        span
        span

mixin btn-close
    button.btn-close(type="button")&attributes(attributes)
        span
        span

mixin shape-image(svgUrl)
    img.hero-shape-image(src="data:image/svg+xml;utf8,"+svgUrl+"")&attributes(attributes)