.btn-close {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: transparent;
    width: calc($icon-size + rem(3px));
    height: $icon-size;
    padding: 0;
    border: none;

    span {
        display: block;
        background-color: $body-color;
        height: rem(3px);
        width: 100%;
        border-radius: rem(3px);

        &:nth-child(1) {
            rotate: 45deg;
        }

        &:nth-child(2) {
            rotate: -45deg;
            margin-top: rem(-3px);
        }
    }
}